.task-list {
  li {
    display: block;
  }
}

.task-row {
  background-color: #fff;
  margin-bottom: 10px;
  cursor: default;

  &>div {
    @include outer-container;
    div:first-child {
      @include span-columns(1);
      img {
        border-radius: 50%;
      }
    }
    div:last-child {
      @include span-columns(11);
    }
  }
}
