<section>
  <div>
    <h1>Editing task</h1>

    <%= render 'form' %>

    <%= link_to 'Show', company_task_path(current_user.company, @task) %> |
    <%= link_to 'Back', company_tasks_path(current_user.company) %>
  </div>
</section>
