<div class="section-header">
  <div class="two-column-row">
    <div>
      <h3>Your Coworkers need help!</h3>
    </div>
    <div class="text-right">
      <% if can? :create, Task %>
        <%= link_to "Ask for Assistance", new_company_task_path(current_company), class: "button" %>
      <% end %>
    </div>
  </div>
</div>

<section>
  <% if @tasks.present? %>
    <%= render partial: "tasks" %>
  <% else %>
    <%= render partial: "no_tasks_present" %>
  <% end %>
</section>
