<section>
  <div>
    <div class="two-column-row">
      <div>
        <h1>Tasks</h1>
      </div>
      <div class="text-right">
        <% if can? :create, Task %>
          <%= link_to "New Task", new_company_task_path(current_company), class: "button" %>
        <% end %>
      </div>
    </div>

    <% if @tasks.present? %>
      <%= render partial: "tasks" %>
    <% else %>
      <%= render partial: "no_tasks_present" %>
    <% end %>
  </div>
</section>
