<div class="section-header">
  <h3>Ask for Assistance</h3>
</div>

<section>
  <div>
    <%= render partial: "form" %>
  </div>
</section>

<div class="section-header">
  <%= link_to 'Back', company_tasks_path(current_user.company) %>
</div>
