<li class="thank-you">
  <div>
    <div class="photo"><%= thank_you.sender.photo %></div>
    <div class="message">
      Thanks for, <br>
      <%= thank_you.message %><br>
      - <%= thank_you.sender.full_name %>
    </div>
  </div>
</li>
