<h1>Create Task</h1>
<div class="row">
  <div class="col-md-5">
    <%= render partial: "form" %>
  </div>

  <div class="col-md-7">
    <dl>
      <dt>Fun Factor</dt>
      <dd>Tasks that are more fun to do gain less points. This is to encourage people to do tasks that may not be the most desirable to do.</dd>

      <dt>Difficulty</dt>
      <dd>A rough rating of how the hard the task is. It could be based upon skills involved or having to interact with a lot of people etc.</dd>

      <dt>Size</dt>
      <dd>A rough estimation of how long it should take.</dd>
    </dl>
  </div>
</div>
