<h3>Employees</h3>

<section>
  <div class="employee-list">
    <ul>
      <%= render @users %>
    </ul>
  </div>
</section>

<%= link_to "Invite Your Team Members",
  new_company_invitation_path(current_company),
  class: "button"
%>
