<footer>
  <div class="logo-image">
    <%= image_tag "logos/logo.png" %>
  </div>
  <div class="navigation">
    <div>
      this is blah text <br>
      blah text <br>
      blah more text <br>
    </div>
    <div>
      this is blah text <br>
      blah text <br>
      blah more text <br>
    </div>
    <div>
      this is blah text <br>
      blah text <br>
      blah more text <br>
    </div>
  </div>
</footer>
