<ul id="js-navigation-menu" class="navigation-menu show">
  <li class="nav-link">
    <%= link_to t(".tasks"), company_tasks_path(current_user.company) %>
  </li>
  <li class="nav-link">
    <%= link_to t(".your_settings"), page_path("about") %>
  </li>
  <% if current_user.is? :company_admin %>
    <li class="nav-link">
      <%= link_to "Company Settings", edit_company_path(current_user.company) %>
    </li>
  <% end %>
  <li class="nav-link">
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
</ul>
