<section id="hero-section">
  <div class="one-column-row">
    <div class="box">
      <div>
        <h1>Your Employees Are Your Best Asset</h1>
        <h3>Invest In Them</h3>
      </div>
    </div>
  </div>
</section>

<section id="features" class="primary">
  <div class="one-column-row">
    <h3>Features</h3>
  </div>

  <div class="two-column-row">
    <div>
      Onboarding
    </div>
    <div>
      Cross Function Communication
    </div>
  </div>

</section>
